---
import SinglePriceService from "./single-service/SinglePriceService.astro";
import "./services.css";

const haircutServices = [
  {
    name: "Стрижка",
    price: 3000,
  },
  {
    name: "Стрижка чёлки",
    price: 2000,
  },
  {
    name: "Стрижка концов",
    price: 2000,
  },
  {
    name: "Стрижка бороды",
    price: 2000,
  },
];
---

<section class="service-type-section">
  <h2 class="service-section-title">Стрижка</h2>

  <div class="services-list">
    {
      haircutServices.map((service) => (
        <SinglePriceService name={service.name} price={service.price} />
      ))
    }
  </div>
</section>
