---
import "./services.css";
---

<section class="service-type-section">
  <h2 class="section-title">стрижка</h2>

  <div class="services-list">
    <div class="service-item">
      <h3>Стрижка</h3>
      <div class="price">
        <span>3000<span class="whitespace"></span>₽</span>
      </div>
    </div>

    <div class="service-item">
      <h3>Стрижка чёлки</h3>
      <div class="price">
        <span>2000<span class="whitespace"></span>₽</span>
      </div>
    </div>

    <div class="service-item">
      <h3>Стрижка концов</h3>
      <div class="price">
        <span>2000<span class="whitespace"></span>₽</span>
      </div>
    </div>

    <div class="service-item">
      <h3>Стрижка бороды</h3>
      <div class="price">
        <span>2000<span class="whitespace"></span>₽</span>
      </div>
    </div>
  </div>
</section>
