.service-type-section {
  --gap-between-length-and-price: clamp(1rem, 3vw, 4rem);


  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-vertical) var(--padding-horizontal);
}

.service-section-title {
  margin-bottom: 3rem;
}

.services-list {
  display: flex;
  flex-direction: column;
}

.service-item {
  padding: 2rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  gap: 1rem;
}

.service-item.single-price {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
}

.service-item.multi-price {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: 375px) {
    flex-direction: column;
  }

}

.service-item-prices-by-length {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media (max-width: 375px) {
    width: 100%;
  }
}


.service-item:last-of-type {
  border-bottom: none;
}

.price-row {
  display: grid;
  grid-template-columns: auto 3.5em;
  gap: var(--gap-between-length-and-price);
  justify-content: flex-end;

  @media (max-width: 375px) {
    grid-template-columns: 1fr auto;
  }
}

.price-container {
  text-align: right;
}

.price {
  white-space: nowrap;
}

.price::after {
  content: '₽';
  padding-left: 0.1667em;
}
