---
import SinglePriceService from "./single-service/SinglePriceService.astro";
import MultiPriceService from "./single-service/MultiPriceService.astro";
import "./services.css";
import type {
  SinglePriceServiceData,
  MultiPriceServiceData,
} from "./single-service/service-types";

type Service = SinglePriceServiceData | MultiPriceServiceData;

const coloringServices: Service[] = [
  {
    name: "Окрашивание корней",
    price: 5000,
  },
  {
    name: "Тонирование",
    prices: {
      короткие: 4000,
      средние: 4000,
      длинные: 5000,
    },
  },
  {
    name: "Тотал блонд",
    prices: {
      короткие: 10000,
      средние: 15000,
      длинные: 20000,
    },
  },

  {
    name: "Air Touch",
    prices: {
      средние: 20000,
      длинные: 25000,
    },
  },
];

const isMultiPriceService = (
  service: Service
): service is MultiPriceServiceData => {
  return "prices" in service;
};
---

<section class="service-type-section">
  <h2 class="service-section-title">Окрашивание</h2>

  <div class="services-list">
    {
      coloringServices.map((service) =>
        isMultiPriceService(service) ? (
          <MultiPriceService name={service.name} prices={service.prices} />
        ) : (
          <SinglePriceService name={service.name} price={service.price} />
        )
      )
    }
  </div>
</section>
