---
import "./services.css";
---

<section class="service-type-section">
  <h2 class="section-title">окрашивание</h2>

  <div class="services-list">
    <div class="service-item single-price">
      <h3>Окрашивание корней</h3>
      <div class="price">
        <span>7000<span class="whitespace"></span>₽</span>
      </div>
    </div>

    <div class="service-item multi-price">
      <h3>тонирование</h3>
      <div class="service-item-prices-by-length">
        <div class="price-row">
          <span class="length">короткие</span>
          <span class="price">4000<span class="whitespace"></span>₽</span>
        </div>
        <div class="price-row">
          <span class="length">средние</span>
          <span class="price">4000<span class="whitespace"></span>₽</span>
        </div>
        <div class="price-row">
          <span class="length">длинные</span>
          <span class="price">5000<span class="whitespace"></span>₽</span>
        </div>
      </div>
    </div>

    <div class="service-item multi-price">
      <h3>тотал блонд</h3>
      <div class="service-item-prices-by-length">
        <div class="price-row">
          <span class="length">короткие</span>
          <span class="price">10000<span class="whitespace"></span>₽</span>
        </div>
        <div class="price-row">
          <span class="length">средние</span>
          <span class="price">15000<span class="whitespace"></span>₽</span>
        </div>
        <div class="price-row">
          <span class="length">длинные</span>
          <span class="price">20000<span class="whitespace"></span>₽</span>
        </div>
      </div>
    </div>

    <div class="service-item multi-price">
      <h3>Air Touch</h3>
      <div class="service-item-prices-by-length">
        <div class="price-row">
          <span class="length">средние</span>
          <span class="price">20000<span class="whitespace"></span>₽</span>
        </div>
        <div class="price-row">
          <span class="length">длинные</span>
          <span class="price">25000<span class="whitespace"></span>₽</span>
        </div>
      </div>
    </div>
  </div>
</section>
