---
import CopyAddressButton from "./CopyAddressButton.astro";
import OpenInMapsButton from "./OpenInMapsButton.astro";
import MapToggleButton from "./MapToggleButton.astro";
import YandexMap from "./YandexMap.astro";
---

<section class="location-section">
  <div class="address">
    <p class="street-address">
      <span class="street-address-text">Москва, Новый Арбат, 34с1</span>
      <CopyAddressButton />
    </p>
    <p>ПН–ВС: 13:00–22:00</p>
    <p>По предварительной записи</p>
    <p>Бесплатная парковка на территории</p>
  </div>
  <YandexMap />

  <script>
    const copyBtn =
      document.querySelector<HTMLButtonElement>(".copy-address-btn");
    const streetAddressText = document.querySelector<HTMLElement>(
      ".street-address-text",
    );

    if (!copyBtn || !streetAddressText) {
      throw new Error("Street address or copy address button not found");
    }

    const addressText = "Москва, Новый Арбат, 34с1";

    const copyAddress = async () => {
      try {
        await navigator.clipboard.writeText(addressText);
        copyBtn.classList.add("copied");
        streetAddressText.classList.add("copied");
        setTimeout(() => copyBtn.classList.remove("copied"), 2000);
        setTimeout(() => streetAddressText.classList.remove("copied"), 2000);
      } catch (err) {
        console.error("failed to copy:", err);
      }
    };

    copyBtn.addEventListener("click", copyAddress);
    streetAddressText.addEventListener("click", copyAddress);
  </script>

  <style>
    .location-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 1rem;
      padding-top: 4rem;
    }

    .street-address {
      position: relative;
    }

    .street-address-text {
      cursor: copy;
    }
    .street-address-text.copied {
      cursor: text;
    }

    .address {
      line-height: 2;
      text-align: center;
    }
  </style>
</section>
