---
import OpenInMapsButton from "./OpenInMapsButton.astro";
import MapToggleButton from "./MapToggleButton.astro";
---

<div class="map-container">
  <div class="map grayscale"></div>
  <OpenInMapsButton />
  <MapToggleButton />
</div>

<script
  is:inline
  async
  src="https://api-maps.yandex.ru/v3/?apikey=d03e0055-6f9f-4639-8d4d-a43b12acccc3&lang=ru_RU"
></script>

<script>
  import { initializeMap } from "./map-loader";
  // load map with low priority - after page is interactive
  if ("requestIdleCallback" in window) {
    requestIdleCallback(() => initializeMap(), { timeout: 3000 });
  } else {
    setTimeout(initializeMap, 1500);
  }
</script>

<style>
  .map-container {
    width: 100%;
    height: 320px;
    padding: 0;
    position: relative;
    touch-action: manipulation;

    & .map {
      --map-blur: ;
      --map-desaturate: ;

      width: 100%;
      height: 100%;
      border: solid 1px rgba(0, 0, 0, 0.3);
      cursor: grab;
      filter: var(--map-blur) var(--map-desaturate);
      transition: filter 0.3s ease;

      &:active {
        cursor: grabbing;
      }

      &.blurred {
        --map-blur: blur(1.5px) brightness(0.95);
      }

      &.grayscale {
        --map-desaturate: grayscale(100%);
      }
    }
  }
</style>
