---
import Hero from "../components/Hero.astro";
import ServicesHaircuts from "../components/services/ServicesHaircuts.astro";
import ServicesColoring from "../components/services/ServicesColoring.astro";
---

<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="СТРИЖКА, ОКРАШИВАНИЕ" />
		<title>ОДНО КРЕСЛО</title>
	</head>
	<body>
		<Hero />
		<ServicesHaircuts />
		<ServicesColoring />
	</body>
</html>

<style is:global>
	*,
	*::before,
	*::after {
		font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
			Arial, sans-serif;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		min-height: 100vh;
		overflow-x: hidden;
		background: white;
		color: black;
		text-transform: uppercase;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin: 0;
		padding: 0;
		font-size: inherit;
		font-weight: inherit;
		line-height: inherit;
		font-family: inherit;
	}
</style>
