<section class="hero">
  <p>Вадим Дорохин</p>
  <h1>Одно Кресло</h1>
  <h2>стрижка и окрашивание</h2>
</section>

<style>
  .hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: var(--padding-vertical) var(--padding-horizontal);
  }

  .hero h1,
  .hero h2,
  .hero p {
    line-height: 3.33;
    white-space: nowrap;
  }
</style>
