---
import { ExternalLink } from "@lucide/astro";

interface Props {
  href: string;
  label: string;
  external?: boolean;
  hideOnMobile?: boolean;
}

const { href, label, external = false, hideOnMobile = false } = Astro.props;
---

<a
  href={href}
  class={hideOnMobile ? "hide-mobile" : ""}
  {...external && {
    target: "_blank",
    rel: "noopener noreferrer",
  }}
>
  <slot />
  <span class="link-label">
    {label}
    {external && <ExternalLink class="external-link-icon" size={14} />}</span
  >
</a>

<style>
  a {
    text-transform: uppercase;
    transition: opacity 0.3s ease;
    text-decoration: none;

    display: inline-flex;
    align-items: center;
    gap: 4px;

    &:hover {
      opacity: 0.6;
    }

    &:any-link {
      color: inherit;
    }

    .link-label {
      border-bottom: 0.5px solid rgba(0, 0, 0);
    }

    .external-link-icon {
      transform: translateY(1px);
    }
  }

  @media (max-width: 460px) {
    .hide-mobile {
      display: none;
    }
  }
</style>
